body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 20%;
  background-color: lightblue;
}

.container {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.sidebar {
  width: 200px;
  flex-grow: 1;
  background-color: azure;
}
.main-content {
  flex-grow: 1;
  width: 600px;
  background-color: beige;
}
footer {
  height: 20%;
  background-color: blanchedalmond;
}
