body {
  font-family: Mukta, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.content {
  max-width: 900px;
  margin: 0px auto;
  padding: 40px;
}

.head {
  height: 100vh;
  background-color: rgb(36, 124, 202);
  /* This is felxbox propertys */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 75px;
  font-weight: 400;
  margin: 10px 0;
}

.head h1,
.head p {
  text-align: center;
  color: white;
  width: 75%;
  max-width: 900px;
}

.head p {
  line-height: 2rem;
}

.head hr {
  width: 50%;
}

h1 {
  font-family: bitter, sans;
}
