* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
}

.card {
  width: 300px;
  background-color: rgba(135, 206, 250, 0.455);
  border-radius: 20px;
  margin: 200px auto;
  overflow: hidden;
}

.img-cont {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: lightblue;
  height: 120px;
}
.img {
  background: url("/CSS/Assignment/images/profile.jpeg");
  background-size: cover;
  background-position: top;
  width: 100px;
  height: 100px;
  transform: translateY(25px);
  border: 1px solid;
  border-radius: 50%;
}

.text {
  margin-top: 50px;
  padding: 0 20px;
  text-align: center;
}

p {
  margin: 10px 0;
}

button {
  padding: 5px 20px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid;
  background-color: lightblue;
  margin: 10px 0 40px;
  transition: 0.4s ease-in-out;
  box-sizing: content-box;
}

button:hover {
  border-color: lightblue;
}
